// sidebar
// 侧边栏菜单文字颜色
$menuText: #9e9e9e;
// 激活项文字颜色
$menuActiveText: #05154e;
// 菜单背景色
$menuBg: #060552;
// 菜单悬浮背景色
$menuHover: #29305a;
// 子项背景色
$subMenuBg: #0e121d;
// 激活项背景色
$activeBg: #3f51b5;
// 滚动条颜色
$scrollColor: #3f51b5;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
}
// ---------------------------
$container: #98a4c8;
$navbar: #3f51b5;
$text: #ffebcd;
$tableText: #79aad5;
$dark: #05154e;
$card: #e6e6e6;

#app {
  // 面包屑导航
  .el-breadcrumb__inner,
  .el-breadcrumb__inner a,
  .el-breadcrumb__inner .no-redirect {
    color: $text !important;
  }
  // 折叠按钮
  .hamburger-container {
    color: $text;
  }
  // 头像箭头
  .el-icon-caret-bottom {
    color: $text;
  }

  // 卡片样式
  .el-card {
    color: $text;
    background-color: $card;
    border: none;
  }
  // 表格
  .el-table th,
  .el-table tr {
    background-color: $dark;
    color: $tableText;
    // 标题的右侧边框线
    border-color: $dark;
  }
  // 设置了striped的table的背景色，
  .el-table--striped .el-table__body tr.el-table__row--striped td {
    background: unset;
  }
  // table的悬浮背景色
  .el-table__body tr:hover > td {
    background-color: unset !important;
  }

  // 当前选择（点击）的table行的颜色
  .el-table__body tr.current-row > td {
    background-color: #ffe4c400;
  }
  // table标题下框线
  .el-table th.is-leaf {
    border-bottom: 1px solid $dark;
  }
  // 表格体中的table行的边框
  .el-table--border td {
    border: 1px solid $dark;
  }
  // 展开项内部
  .el-table__expanded-cell {
    background-color: #050a1d;
  }
  // 当前table展开时，展开的那一行的（非展开行的内部）
  .el-table__row.current-row.expanded {
    background-color: unset;
  }
  // 表格体，防止拖拽时闪现表格背景色（默认白色）
  .el-table__body-wrapper {
    tbody {
      background-color: $dark;
    }
  }
  // table外框线颜色
  .el-table--border,
  .el-table--group {
    border: 1px solid $dark;
    background-color: $dark !important;
  }
}
// --------------------------------
// 下拉框
.el-input--suffix .el-input__inner {
  background-color: $dark;
  border-color: $dark;
}
// 下拉框展开子项时
.el-popper[x-placement^='bottom'] {
  background-color: $dark;
  border-color: $dark;
}
// 下拉框子项在鼠标悬浮时
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #2a6323;
}
// ----------------------------------
// 对话框
.el-dialog {
  background-color: $dark !important;
  border-color: $dark !important;
}
// 对话框标题
.el-dialog__title {
  color: #b3b3b3;
}
// 输入框的行内背景色
.el-input__inner {
  background-color: $dark;
}
// 输入框输入错误时的行内背景色
.el-form-item.is-error .el-input__inner {
  background-color: $dark;
}
// 对话框中，浏览框的背景色
.el-textarea__inner {
  background-color: $dark;
}
// 搜索框末尾的搜索图标
.el-input-group__append,
.el-input-group__prepend {
  background-color: #006637;
  border: none;
}

// 加载时遮罩层颜色
.el-loading-mask {
  background-color: rgba(48, 47, 47, 0.5);
}

// --------------------------
// 分页
.pagination-container {
  background-color: $dark !important;
}
