@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './layout.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;

  // 滚动条样式
  overflow: auto;
  // 滚动条底层滚动槽
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  // 滚动条整体样式
  &::-webkit-scrollbar {
    width: 10px;
  }
  // 滚动条滑块
  &::-webkit-scrollbar-thumb {
    background: #fca21b;
    border-radius: 20px;
  }
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
