// // sidebar
// $menuText: #bfcbd9;
// $menuActiveText: #409eff;
// $subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

// $menuBg: #304156;
// $menuHover: #263445;

// $subMenuBg: #1f2d3d;
// $subMenuHover: #001528;

// $sideBarWidth: 210px;
$sideBarWidth: 210px;

$menuText: menuText;
// 激活项文字颜色
$menuActiveText: menuActiveText;
// // 子级菜单激活项文字颜色
$subMenuActiveText: #fff;
// 菜单背景色
$menuBg: menuBg;
// 菜单悬浮背景色
$menuHover: menuHover;
// 子项背景色
// $subMenuBg: #03256c;
$subMenuBg: subMenuBg;
// 激活项背景色
$activeBg: activeBg;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  sideBarWidth: $sideBarWidth;
}
