// sidebar
// 侧边栏菜单文字颜色
$menuText: #bfcbd9;
// 激活项文字颜色
$menuActiveText: #ffffff;
// 二级菜单激活项文字
$subMenuActiveText: #409eff;
// 菜单背景色
$menuBg: #304156;
// 菜单悬浮背景色
$menuHover: #001528;
// 子项背景色
$subMenuBg: rgb(31, 45, 61);
// 激活项背景色
$activeBg: -webkit-linear-gradient(left, transparent, #4f61594f, transparent);
// 滚动条颜色
$scrollColor: #4d82d580;
// 容器颜色
$container: #f8f8f8;
// 导航栏背景色
$navbar: #304156;
// 导航栏文字
$navbarText: #a9cedc;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
}
